<?xml version="1.0"?>
<robot name="autobot">
	<link name="base_link"> <!-- Seting the base_link frame for the transformation -->
	</link>

	<link name="base_scan"> <!-- Seting the base_scan frame for the transformation -->
	</link>


	<joint name="base_link_to_laser" type="fixed"> <!-- create a joint with those two frames for the transformation -->
		<parent link="base_link" /> <!-- parent frame-->
		<child link="base_scan" /> <!-- child frame-->
		<origin xyz="0.0 0 0.3" rpy="0.0 0.0 0.0" /> <!-- Specifies where the LIDAR is placed on the robot-->
		<axis xyz="0 0 0" />
	</joint>

</robot>