<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find auto_nav)/maps/map3.yaml"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find auto_nav)/launch/amcl.launch"/> 


 
  <!--Stepper speed  -->
  <node name="stepper_speed" pkg ="auto_nav" type="stepper_speed" output="screen">
    </node>
      
  <!--move_base-->
  <include file="$(find auto_nav)/launch/move_base.launch"></include>

  <!-- Odometry  -->
  <include file="$(find autobot_odometry)/launch/odom_calc.launch" />  
  
  <!-- rviz -->
   <node pkg="rviz" type="rviz" name="rviz" required="true"
        args="-d /home/og/catkin_ws/src/auto_nav/rviz/new.rviz"/>



</launch>